<div class="flex max-w-7xl mx-auto justify-between mt-7 px-2">
  <!-- left side -->
  <div><img ngSrc="ng-hero.png" height="378" width="482" priority /></div>
  <!-- right side -->
  <div class="text-black flex flex-col items-center justify-center">
    <h1 class="text-3xl font-semibold">
      Welcome to Angular World!!! Visit as per as possible
    </h1>
    <button
      class="border px-3 py-2 rounded-sm bg-red-600 text-gray-300 mt-5"
      type="button"
    >
      Subscribe
    </button>
  </div>
</div>
